#div_main_left {position:relative;width:100%;margin: 0;}
.div_left_info {position:relative;height: 125px;background-color:#333;color:#fff;padding: 0;overflow: hidden;}
.div_left_info_bg {position:absolute;top:0;left:0;bottom:0;right:0;background-image:url(/static/img/main.jpg);background-size:cover;background-position:center center;z-index:0;opacity: 0.15;}
#img_left_info_bg {position:relative;width:100%;height:300px;opacity: 0.15;background-size:cover;background-position:center center;}
#img_left_info_logo {position:absolute;bottom:0;left:0;width:100%;max-width:422px;}

.div_left_board {position:relative;margin-top: 10px;padding:0;padding-right:15px;}
.div_left_board:nth-child(odd) {padding-right:0px}
.div_left_board_title {position: relative;width: 100%;color: #666;font-size: 16px;padding: 5px 10px;}
.div_left_board_more {font-size: 12px;color:#333;line-height: 24px;cursor: pointer;}
.div_left_board_con {position: relative;width: 100%;height: 179px;background-color:#fff;border: 1px solid #F3F3F3;box-shadow: 0 3px 3px 0 #edeff3;overflow: hidden;top: -2px;}
.div_left_board_con_line {min-height: 36px;padding: 0 10px;border-bottom:1px solid #eaeaea;cursor: pointer;}
.div_left_board_con_line:hover {background-color:#f5f5f5}
.p_left_board_con_line_title {line-height: 35px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;margin-right: 40px;}
.p_left_board_con_line_date {min-width: 36px;line-height: 15px;border-left: 1px solid #cecece;padding-left: 5px;margin: 10px 0;font-size: 11px;text-align: right;}

.div_left_activity {position:relative;margin-top: 10px;padding:0;padding-right:0px;}
.div_left_activity_title {position: relative;width: 100%;color: #666;font-size: 16px;padding: 5px 10px;}
.div_left_activity_more {font-size: 12px;color:#333;line-height: 24px;cursor: pointer;}
.div_left_activity_con {position: relative;width: 100%;margin-top:5px}
.div_left_activity_con_ele {padding: 0px 10px;padding-bottom: 20px;}
.div_left_activity_ele_img {width:100%;height: 130px;border: 5px solid #FFF;box-shadow: 0 3px 3px 0 #edeff3;background-size: cover;background-position: center;cursor:pointer;}
.p_left_activity_con_title {margin-top: 10px;text-overflow: ellipsis;font-weight: 700;white-space: nowrap;overflow: hidden;text-align: center;cursor:pointer}
.p_left_activity_con_date {width: 100%;text-align: center;font-size: 11px;cursor:pointer}

#div_main_right {width:100%;min-height: 500px;background-color: #b51e3a;color:#FFF;margin-left: 15px;}
.div_right_contents_main {padding: 20px 30px;padding-bottom: 10px;}
.div_right_contents_main_title {font-size:20px;margin: 0 -10px;margin-bottom:10px;}
.div_right_contents_main_btn {width: 100%;background-color: rgba(255,255,255,0.15);padding: 0px 15px;margin-bottom: 8px;padding-right: 0;float: left;cursor: pointer;}
.div_right_contents_main_btn:hover {background-color: rgba(255,255,255,0.3);}
.div_right_contents_main_btn i {font-size: 25px;line-height: 25px;padding: 15px 0;margin-right: 10px;float: left;}
.div_right_contents_main_btn p {max-width: 100%;height: 55px;display: table-cell;vertical-align: middle;line-height: 16px;}

#div_main_right_latest {width:100%;background-color: #666;margin-left: 15px;padding:0 20px;padding-bottom: 28px;}
.div_right_latest_title {font-size:16px;color:#FFF;padding:10px 0;padding-top: 20px;}
.div_right_latest_con_line {min-height: 30px;padding-left: 5px;border-bottom: 1px solid #737373;color: #eee;cursor: pointer;}
.div_right_latest_con_line:hover{background-color:#6d6d6d}
.p_right_latest_con_line_date {line-height: normal;border-left: 1px solid #aaa;margin: 9px 0;padding-left: 5px;font-size: 9px;text-align: right;}
.p_right_latest_con_line_title {line-height: 30px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;margin-right: 40px;font-size: 13px;}

@media (max-width: 768px){
    .div_left_board {padding:0}
    #div_main_right {margin:0;margin-top:15px}
    #div_main_right_latest {margin:0;}
}