.input_inline {display: inline!important;width: auto;}

#a_tab_nav_btn_back {margin:0;padding:0;line-height:80px;margin-left: 30px;height: 80px;font-weight:700;float:left;color:#000}
#a_tab_nav_btn_back:hover {color:#426aea;text-decoration: underline;}
.div_tab .ul_tab_nav li {display: inline-block;margin:0;padding:0;line-height:80px;margin-left: 30px;}
.div_tab .a_tab_nav_btn {height: 80px;text-align:center;display: block;font-weight:700;vertical-align: middle;}
.div_tab .a_tab_nav_btn:hover, .div_tab .a_tab_nav_btn.active {color:#426aea;text-decoration: underline;}
.div_tab .a_tab_nav_btn .badge {background-color: #426aea;display:none}
.div_tab .a_tab_nav_btn.active .badge {display: inline-block;}

.div_itembank_testpaper_analysis {margin-top:20px;background-color:#FFF;box-shadow: 2px 2px 30px 2px rgb(221, 224, 232);padding:20px 20px}
.div_itembank_testpaper_analysis_part {padding:30px 20px;border-bottom: 1px solid #eee;}
.p_itembank_testpaper_analysis_part_title {font-size: 16px;font-weight:700;margin-bottom: 10px;}