{% extends "body_system.html" %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <div class="col-lg-3">
            <div class="div_feed" id="div_itembank_testpaper_analysis_questions">
                <p class="p_itembank_testpaper_analysis_body_title">문제 리스트</p>
                {% for question in questions %}
                    <p class="p_itembank_testpaper_analysis_body_question" onclick="get_result({{ question.id }})">{{ question.id }}. {{ question.title|slice:":15" }}...</p>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-9">
            <div class="div_feed" id="div_itembank_testpaper_analysis_body">

            </div>
        </div>
    </div>
    <script>
        get_result({{ questions.0.id }});
        function get_result(qid){
            $("#div_itembank_testpaper_analysis_body").load("/itembank/testpaper/analysis/result/"
                    ,{"csrfmiddlewaretoken":$("#wrap > input[name=csrfmiddlewaretoken]").val(),'qid':qid});
        }
    </script>
{% endblock %}