{% extends "itembank.html" %}
{% load staticfiles %}
{% block content %}
    <div class="div_tab" id="div_itembank_testpaper_question_detail_tab">
        <a class="a_tab_nav_btn" href="#" target="_self" id="a_tab_nav_btn_back" onclick="history.back();">< 이전</a> <span class="span_tab_title">분석 결과보기</span>
    </div>
    <div class="col-lg-offset-2 col-lg-8 div_itembank_testpaper_detail">

    </div>
    <div class="col-lg-offset-2 col-lg-8 div_itembank_testpaper_detail">

    </div>

{% endblock %}