{% extends "itembank.html" %}
{% load main_extras %}
{% load staticfiles %}
{% block style %}
    {% if appname != "itembank_testpaper" %}<link rel="stylesheet" href="/static/css/system/itembank_testpaper__.css">{% endif %}
{% endblock %}
{% block content %}
    <div class="div_tab" id="div_itembank_testpaper_tab">
        <ul class="ul_tab_nav">
            <li>
                <a class="a_tab_nav_btn" href="/itembank/testpaper/" target="_self" id="a_tab_nav_btn_all">전체문제 <span class="badge">{{ testpapers|length }}</span></a>
            </li>
            <li>
                <a class="a_tab_nav_btn" href="/itembank/testpaper/mine/" target="_self" id="a_tab_nav_btn_mine">내가 출제한 문제 <span class="badge">{{ testpapers|length }}</span></a>
            </li>
            <li>
                <a class="a_tab_nav_btn" href="/itembank/testpaper/other/" target="_self" id="a_tab_nav_btn_other">다른사람이 출제한 문제 <span class="badge">{{ testpapers|length }}</span></a>
            </li>
            <li class="pull-right" style="margin-right:30px">
                <a class="a_tab_nav_btn" href="/itembank/testpaper/write/" target="_self" id="a_tab_nav_btn_add"><p>시험 출제하기</p><i class="xi-plus-circle"></i></a>
            </li>
        </ul>
    </div>
    <div class="div_itembank_testpaper_box">
        {% if testpapers %}
            {% for testpaper in testpapers %}
                <div class="div_itembank_testpaper_card" onclick="location.href='/itembank/testpaper/detail/{{ testpaper.id }}';">
                    <p class="div_itembank_testpaper_card_type" style="background-color:{{ testpaper.type|get_type_color }}">{{ testpaper.type }}</p><p class="div_itembank_testpaper_card_unit">{{ testpaper.unit.get_title }}</p>
                    <p class="div_itembank_testpaper_card_title">{{ testpaper.id }}. {{ testpaper.title }}</p>
                    <p class="div_itembank_testpaper_card_date">출제일 : {{ testpaper.date_created|time_diff }}</p>
                    <p class="div_itembank_testpaper_card_user">출제자 : {{ testpaper.user.first_name }}({{ testpaper.user.email|slice:":5" }}**@****.***)</p>
                </div>
            {% endfor %}
        {% else %}
            <p class="div_itembank_testpaper_box_none">출제된 문제가 없습니다.</p>
        {% endif %}
    </div>
{% endblock %}