{% extends "body.html" %}
{% load main_extras %}
{% load staticfiles %}
{% block content %}
    <div class="col-md-9" style="padding: 0;">
        <div id="div_main_left" class="row">

            <div class="col-md-12 div_left_info">
                <marquee height="125" scrolldelay="1000" direction="up" behavior="alternate">
                    <div id="img_left_info_bg" style="background-image: url({{ main_img }})"></div>
                </marquee>
                {% if not  main_img %}<div class="div_left_info_bg"></div>{% endif %}
                {% if ""|get_url_lang:lang %}
                    <img src="/static/img/center_logo_trans.png" id="img_left_info_logo">
                {% else %}
                    <img src="/static/img/center_logo.png" id="img_left_info_logo">
                {% endif %}
            </div>

            <div class="col-md-6 div_left_board">
                {% with menus.8.get_sub.0 as menu %}
                    <div class="div_left_board_title">{{ menu|set_menu_title:lang }}<span class="pull-right div_left_board_more" onclick="location.href= '/menu/{{ menu.id|get_url_lang:lang }}';">{{ "더보기"|set_language:lang }}</span></div>
                    <div class="div_left_board_con">
                        {% for board in  menu.get_boards|slice:":5" %}
                            <div class="div_left_board_con_line" onclick="location.href= '/board/detail/{{ board.id|get_url_lang:lang }}';">
                                <p class="pull-right p_left_board_con_line_date">{{ board.date_updated|time_diff }}</p>
                                <p class="p_left_board_con_line_title">{{ board.title|translate_language:lang }}</p>
                            </div>
                        {% endfor %}
                        {% if menu.get_boards|length < 5 %}
                            {% for i in  "xxxxx" %}
                                <div class="div_left_board_con_line">
                                    <p class="p_left_board_con_line_title"></p>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endwith %}
            </div>

            <div class="col-md-6 div_left_board">
                {% with menus.8.get_sub.3 as menu %}
                    <div class="div_left_board_title">{{ menu|set_menu_title:lang }}<span class="pull-right div_left_board_more" onclick="location.href= '/menu/{{ menu.id|get_url_lang:lang }}';">{{ "더보기"|set_language:lang }}</span></div>
                    <div class="div_left_board_con">
                        {% for board in  board_archive|slice:":5" %}
                            <div class="div_left_board_con_line" onclick="location.href= '/board/detail/{{ board.id|get_url_lang:lang }}';">
                                <p class="pull-right p_left_board_con_line_date">{{ board.date_updated|time_diff }}</p>
                                <p class="p_left_board_con_line_title">{{ board.title|translate_language:lang }}</p>
                            </div>
                        {% endfor %}
                        {% if menu.get_boards|length < 5 %}
                            {% for i in  "xxxxx" %}
                                <div class="div_left_board_con_line">
                                    <p class="p_left_board_con_line_title"></p>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endwith %}
            </div>

            <div class="col-md-6 div_left_board">
                {% with menus.8.get_sub.1 as menu %}
                    <div class="div_left_board_title">{{ menu|set_menu_title:lang }}<span class="pull-right div_left_board_more" onclick="location.href= '/menu/{{ menu.id|get_url_lang:lang }}';">{{ "더보기"|set_language:lang }}</span></div>
                    <div class="div_left_board_con">
                        {% for board in  menu.get_boards|slice:":5" %}
                            <div class="div_left_board_con_line" onclick="location.href= '/board/detail/{{ board.id|get_url_lang:lang }}';">
                                <p class="pull-right p_left_board_con_line_date">{{ board.date_updated|time_diff }}</p>
                                <p class="p_left_board_con_line_title">{{ board.title|translate_language:lang }}</p>
                            </div>
                        {% endfor %}
                        {% if menu.get_boards|length < 5 %}
                            {% for i in  "xxxxx" %}
                                <div class="div_left_board_con_line">
                                    <p class="p_left_board_con_line_title"></p>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endwith %}
            </div>

            <div class="col-md-6 div_left_board">
                {% with menus.8.get_sub.2 as menu %}
                    <div class="div_left_board_title">{{ menu|set_menu_title:lang }}<span class="pull-right div_left_board_more" onclick="location.href= '/menu/{{ menu.id|get_url_lang:lang }}';">{{ "더보기"|set_language:lang }}</span></div>
                    <div class="div_left_board_con">
                        {% for board in  menu.get_boards|slice:":5" %}
                            <div class="div_left_board_con_line" onclick="location.href= '/board/detail/{{ board.id|get_url_lang:lang }}';">
                                <p class="pull-right p_left_board_con_line_date">{{ board.date_updated|time_diff }}</p>
                                <p class="p_left_board_con_line_title">{{ board.title|translate_language:lang }}</p>
                            </div>
                        {% endfor %}
                        {% if menu.get_boards|length < 5 %}
                            {% for i in  "xxxxx" %}
                                <div class="div_left_board_con_line">
                                    <p class="p_left_board_con_line_title"></p>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endwith %}
            </div>

            <div class="col-md-12 div_left_activity">
                <div class="div_left_activity_title">{{ menus.6|set_menu_title:lang }}<span class="pull-right div_left_activity_more" onclick="location.href= '/menu/38{{ ""|get_url_lang:lang }}';">{{ "더보기"|set_language:lang }}</span></div>
                <div class="div_left_activity_con">
                    {% for activity in activities %}
                        <div class="col-md-3 div_left_activity_con_ele" onclick="location.href= '/board/detail/{{ activity.id|get_url_lang:lang }}';">
                            <div class="div_left_activity_ele_img" style="background-image: url({{ activity.get_files.0.src.url }})"></div>
                            <p class="p_left_activity_con_title">[{{ activity.menu|set_menu_title:lang }}] {{ activity.title|translate_language:lang }}</p>
                            <p class="pull-right p_left_activity_con_date">{{ activity.date_updated|date:"Y-m-d H:i:s" }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-3" style="padding: 0;">
        <div id="div_main_right">
            <div class="div_right_contents_main">
                <p class="div_right_contents_main_title">{{ "InC의 연구분야"|set_language:lang }}</p>
                <div class="row" style="padding:4px">
                    {% for menu in menus.1.get_sub %}
                        <div class="div_right_contents_main_btn" onclick="location.href='{{ menu.get_url|get_url_lang:lang }}';"><i class="{{ menu_icons|array_item:forloop.counter0 }}"></i><p>{{ menu|set_menu_title:lang }}</p></div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="div_main_right_latest">
            <div class="div_right_latest_title">{{ "최근 업데이트"|set_language:lang }}</div>
            <div class="div_right_latest_con">
                {% for latest in latests %}
                    <div class="div_right_latest_con_line" onclick="location.href= '{{ latest.url|get_url_lang:lang }}';">
                        <p class="pull-right p_right_latest_con_line_date">{{ latest.date|time_diff }}</p>
                        <p class="p_right_latest_con_line_title"><b>[{{ latest.unit }}]</b> {{ latest.title }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}