{% extends "body.html" %}
{% load main_extras %}
{% load staticfiles %}
{% block content %}
    <div class="col-md-2">
        <div class="div_feed div_page_submenu">
            <p class="li_page_submenu_title">{{ page.menu.parent.title }}</p>
            <ul>
                {% for sub in page.menu.parent.get_sub %}
                    <li class="li_page_submenu_list {% if sub == page.menu %}active{% endif %}" onclick="link('{{ sub.get_url|get_url_lang:lang }}','{{ sub.get_blank }}');">{{ sub|set_menu_title:lang }} <i class="xi-angle-right pull-right"></i></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="col-md-10">
        <div class="div_feed">
            <form method="post" id="form_page_edit">
                {% csrf_token %}
                <h1>{{ page.menu|set_menu_title:lang }}</h1>
                <textarea name="contents" id="div_page_contents">{{ page.contents }}</textarea>
                <div class="modal-footer">
                    <span class="pull-left">최종수정 : {{ page.user.first_name }} ({{ page.date_created }})</span>
                    <input type="button" class="btn btn-default" onclick="history.back()" value="취소" />
                    <input type="button" id="btn_page_submit" class="btn btn-danger" value="저장" />
                </div>
            </form>
        </div>
    </div>
    <script src="//cdn.ckeditor.com/4.5.9/full/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( 'contents' );
        CKEDITOR.config.filebrowserUploadUrl = '/page/upload/';
        CKEDITOR.config.contentsCss = '/static/css/page.css' ;
        CKEDITOR.config.allowedContent = true;
        CKEDITOR.config.startupMode = 'source';
        CKEDITOR.config.height = 500;
        CKEDITOR.config.font_names =
                'KoPubDotum Medium;' +
                '맑은 고딕;' +
                '굴림;' +
                '궁서';
    </script>
    <script>
        $("#btn_page_submit").click(function () {
            ga('send', {
                hitType: 'event',
                eventCategory: 'Page',
                eventAction: 'edit',
                eventLabel: '{{ page.menu|set_menu_title:lang }}'
            });
            $("#form_page_edit").submit();
        });
        function link(url, target){
            if (target == "_blank"){
                var openNewWindow = window.open("about:blank");
                openNewWindow.location.href = url;
            }else{
                location.href = url;
            }
        }
    </script>
{% endblock %}