{% extends "body.html" %}
{% load staticfiles %}
{% block content %}
    <div class="col-md-offset-3 col-md-6">
        <div class="div_feed">
            <h1>회원가입</h1>
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="checkbox" style="float:right;top: -8px;">
                            <label style="float:right">
                                <input type="checkbox" value="option1" name="agree_1" id="agree_1" required>
                                위의 내용에 동의합니다.
                            </label>
                        </div>
                        <h3 class="panel-title" style="text-align:left;"><a href="/menu/69" target="_blank">1. 회원가입약관 (필수)</a></h3>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="checkbox" style="float:right;top: -8px;">
                            <label style="float:right">
                                <input type="checkbox" value="option1" name="agree_2" id="agree_2" required>
                                위의 내용에 동의합니다.
                            </label>
                        </div>
                        <h3 class="panel-title" style="text-align:left"><a href="/menu/67" target="_blank">2. 개인정보취급방침 (필수)</a></h3>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEmail">이메일</label>
                    <div class="controls">
                        <input class="form-control" type="email" id="email" name="email" placeholder="이메일" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password">비밀번호</label>
                    <div class="controls">
                        <input class="form-control" type="password" id="password" name="password" placeholder="비밀번호" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="re_password">비밀번호 확인</label>
                    <div class="controls">
                        <input class="form-control" type="password" id="re_password" name="re_password" placeholder="비밀번호 확인" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="username">이름</label>
                    <div class="controls">
                        <input class="form-control" type="text" id="username" name="username" placeholder="이름" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="grade">직업</label>
                    <div class="controls">
                        <select class="form-control" id="grade" name="grade">
                            <option value="0">일반</option>
                            <option value="1">학생</option>
                            <option value="2">교사</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="gender">성별</label>
                    <div class="controls">
                        <select class="form-control" id="gender" name="gender">
                            <option value="0">남자</option>
                            <option value="1">여자</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <p class="text-right" style="margin-bottom:5px">만 14세 미만은 가입할 수 없습니다. </p>
                    <input type="button" class="btn btn-default" onclick="location.href='/';" value="취소" />
                    <input type="submit" class="btn btn-danger" value="가입하기" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}